.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #fbfbfb;
}
.img {
  width: 300px;
  border-radius: 10px;
  height: 410px;
  object-fit: cover
}
